<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div>
</div>

<!--[if !IE]> -->
<script src="__ADMIN_ACEADMIN__/js/jquery-1.10.2.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__ADMIN_ACEADMIN__/js/jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__ADMIN_ACEADMIN__/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__ADMIN_ACEADMIN__/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='__ADMIN_ACEADMIN__/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="__ADMIN_ACEADMIN__/js/typeahead-bs2.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__ADMIN_ACEADMIN__/js/excanvas.min.js"></script>
<![endif]-->
<script src="__ADMIN_ACEADMIN__/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/jquery.ui.touch-punch.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/jquery.slimscroll.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/jquery.easy-pie-chart.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/jquery.sparkline.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/flot/jquery.flot.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/flot/jquery.flot.pie.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/flot/jquery.flot.resize.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/ace-elements.min.js"></script>
<script src="__ADMIN_ACEADMIN__/js/ace.min.js"></script>
<script src="/static/back/base.js"></script>
<block name="js"></block>
<script>
    $(function(){

        $('.b-has-child .active').parents('.b-has-child').eq(0).find('.b-nav-parent').click();
    })
</script>
</body>
</html>
