<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		<div class="menu_section">
				<ul class="nav side-menu">
		        	           {foreach name="nav_data" item="v"}
								{empty name="v['_data']"}
										<li>
												<a><i class="fa fa-gears"></i>
														{$v['name']}
														<span class="fa fa-{$v['ico']} "></span>
												</a>
										</li>
								{else /}
										<li>
												<a><i class="fa fa-{$v['ico']}"></i> {$v['name']} <span class="fa fa-chevron-down"></span></a>
												<ul class="nav child_menu">
														{foreach name="v['_data']" item="n"}
																<li class="b-nav-li">
																		<a href="{:url(substr($n['mca'],4))}">
																				{$n['name']}
																		</a>
																</li>
														{/foreach}
												</ul>
										</li>
								{/empty}
						{/foreach}
				</ul>
		</div>
</div>
		<!-- /sidebar menu -->

		<!-- /menu footer buttons -->
		<div class="sidebar-footer hidden-small">
			<a data-toggle="tooltip" data-placement="top" title="Settings">
				<span class="fa fa-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
				<span class="fa fa-object-group" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
				<span class="fa fa-lock" aria-hidden="true"></span>
			</a>
			<a href="{url('Back/Logout/logout')}" data-toggle="tooltip" data-placement="top" title="Logout">
				<span class="fa fa-sign-out" aria-hidden="true"></span>
			</a>
		</div>
		<!-- /menu footer buttons -->
</div>
    </div>
<!-- top navigation -->
<div class="top_nav">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="__ADMIN_IMG__/img.png" alt="">
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li>
							<a href="{:url('/admin/logout')}"><i class="fa fa-sign-out"></i> 退出</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- /sidebar menu -->